{% extends 'admin_index.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <!--&lt;!&ndash;<tr>-->
      <!--<td><a href="/verifyst">Verify student</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="/adapcrs">Approve course details</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="/adaddep">Add department</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="/admngdep">Manage department</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="/adadclg">Add colleges</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="/adviewclg">View colleges</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="/logout">Logout</a></td>-->
    <!--</tr>&#45;&#45;!>-->
  </table>
</form>
</body>
</html>
{% endblock %}