{% extends 'dep_index.html' %}
{% block body %}
<form action="dep_add_exam_details" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="200" border="1">
    <tr>
      <td>Exam</td>
      <td><label>
        <textarea name="textarea" required></textarea>
      </label></td>
    </tr>
    <tr>
      <td>Course</td>
      <td><label>
      <select name="select" required>
        {% for i in v %}
        <option value="{{i[0]}}">{{i[1]}}</option>
        {% endfor %}

      </select>
      </label></td>
    </tr>
    <tr>
      <td>Time table</td>
      <td><label>
      <input type="file" name="file" required/>
        
      </label></td>
    </tr>
    <tr>
      <td colspan="2"><label>
        <div align="center">
          <input type="submit" name="Submit" value="Add" />
        </div>
      </label></td>
    </tr>
  </table>
</form>
{% endblock %}
