{% extends 'dep_index.html' %}
{% block body %}
<form name="form1" method="post" action="">
  <table width="200" border="1">
    <!--<tr>-->
      <!--<td><a href="/dep_crs">Courses</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="/dep_noti">Notifications</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="/dep_exam">Exams</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="/dep_result">Results</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="dep_changepass">Change Password</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="/logout">Logout</a></td>-->
    <!--</tr>-->
  </table>
</form>
{% endblock %}